body {
  background: url("./images/20110802-DSC09898.jpg");
  background-repeat: no-repeat;
  background-size: cover;   
  background-attachment: fixed;
  background-color: #07010F;   
  max-width: 100%;
  display: block;
  height: auto;
  width: auto;
}

* {
  box-sizing: border-box;
}

.arrangeButton {
  border: 3px solid black;
  background-color: rgba(243, 236, 236,0.7);
  color: black;
  border-radius: 4px;
}

h1 {
  font-family: Arial;
  text-align: center;
  color: rgba(0,0,0);
  background-color:rgba(243, 236, 236,0.3);
}

h5 {
  font-family: Arial;
  text-align: center;
  color: rgba(0,0,0);
  background-color:rgba(243, 236, 236,0.3);
  border-radius: 4px;
  border: 3px solid black;
}

h2 {
  font-family: Arial;
  text-align: left;
  letter-spacing: 0.2em;
  border-bottom: 2px solid;
  color: rgba(36,36,36,0.8);
}

a {
  font-family: Arial;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  line-height: 1.3;
  padding-left: 5px;
}

a.btmHeader {
  font-family: Arial;
  font-size: 1em;  
  color: rgba(36,36,36,0.8);
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5em;
  justify-content: center;
  border-radius: 4px;
  border: 3px solid black;
  margin: 0px 10px 0px 10px;
}

.column {
  flex: 24%;
  max-width: 25%;
  padding: 5px;
  margin: 0px 2px;
  background-color:rgba(243, 236, 236, 0.6);
  border-radius: 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 49%;
    max-width: 50%;
    padding: 4px;
    margin: 0px 1px;
    border-radius: 1px;
  }
  .column:nth-child(1) {order: 1}
  .column:nth-child(2) {order: 3}
  .column:nth-child(3) {order: 2}
  .column:nth-child(4) {order: 4}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 4px;
    margin: 0px 1px;
    border-radius: 1px;
  }
}